@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-size-30 {
    width: 30px;
    height: 30px;
}

.switch-icon {
    margin-bottom: 20px;
    margin-top: 10px;
}

.clear-button svg {
    height: 30px;
    width: 30px;
  }
  
  